@using YQTrack.Core.Backend.Admin.Core
@using YQTrack.Backend.Enums
@using YQTrack.Backend.Payment.Model.Enums
@model IframeTransferData
@{
    Layout = "_Layout";
}
@section head
{
    <link rel="stylesheet" href="~/module/formSelects-v4/formSelects-v4.css" asp-append-version="true" />
    <style type="text/css">
        .reqired {
            color: red;
            font-weight: bold;
            padding-right: 5px;
            vertical-align: middle;
        }

        .layui-form-label {
            width: 81px;
            padding-right: 12px;
        }
    </style>
}
<form id="activityInfo" class="layui-form">

    <div class="layui-form-item">
        <label class="layui-form-label"><span class="reqired">*</span>中文名称</label>
        <div class="layui-input-block">
            <input type="text" name="cnName" required lay-verify="required" placeholder="请输入活动中文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="reqired">*</span>英文名称</label>
        <div class="layui-input-block">
            <input type="text" name="enName" required lay-verify="required" placeholder="请输入英文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="reqired">*</span>活动描述</label>
        <div class="layui-input-block">
            <input type="text" name="description" required lay-verify="required" placeholder="请输入活动内容描述" autocomplete="off" class="layui-input">
        </div>
    </div>

    <!-- 活动类型 1：通用，2：优惠券-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span class="reqired">*</span>活动类型</label>
            <div class="layui-input-inline">
                <select name="activityType" lay-verify="required">
                    @foreach (var (key, value) in EnumHelper.GetSelectItem<ActivityType>())
                    {
                        <option value="@key">@value</option>
                    }
                </select>
            </div>
        </div>
        <!-- 优惠类型 1：金额优惠，2：额度优惠-->
        <div class="layui-inline">
            <label class="layui-form-label"><span class="reqired">*</span>优惠类型</label>
            <div class="layui-input-inline">
                <select name="discountType" lay-verify="required" lay-filter="discountTypefilter">
                    @foreach (var (key, value) in EnumHelper.GetSelectItem<ActivityDiscountType>())
                    {
                        <option value="@key">@value</option>
                    }
                </select>
            </div>
        </div>
        <!-- 优惠方式：1：每满减/每满赠,2：一次性满减/满赠,3：按比例优惠-->
        <div class="layui-inline">
            <label class="layui-form-label"><span class="reqired">*</span>优惠方式</label>
            <div class="layui-input-inline">
                <select name="couponMode" lay-verify="required">
                    @foreach (var (key, value) in EnumHelper.GetSelectItem<CouponMode>())
                    {
                        <option value="@key">@value</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <!-- 业务类型：10：买家跟踪，21：卖家跟踪,22，卖家邮件，31：货代跟踪，41：Api跟踪-->
    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            <select name="businessType" id="businessType">
                @foreach (var (key, value) in EnumHelper.GetSelectItem<BusinessCtrlType>())
                {
                    <option value="@key">@value</option>
                }
            </select>
        </div>
    </div>

    <!-- FProductId-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span class="reqired">*</span>活动商品</label>
            <div class="layui-input-inline" style="width:150px;">
                <select name="productId" id="productId" lay-filter="productIdfilter" lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width:450px;">
                <select name="skuCodes" id="skuCodes" xm-select="skuCodes" xm-select-height="36px" multiple></select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始日期</label>
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="startTime" lay-verify="date" placeholder="活动开始日期" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">截至日期</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" id="endTime" lay-verify="date" placeholder="活动截至日期" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
            </div>
        </div>
    </div>

    <!--活动规则-->
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width:96px;">
                <label class="layui-form-label">活动规则</label>
            </div>
            <div class="layui-input-inline" style="width:72px;">
                <div class="layui-btn layui-btn-danger" id="addRule" name="addRule">新增</div>
            </div>
            <div class="layui-input-inline" style="width:72px;">
                <div class="layui-btn layui-btn-danger" id="delRule" name="delRule">删除</div>
            </div>
        </div>
        <table id="activityRule" lay-filter="activityRule"></table>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">有效期</label>
            <div class="layui-input-block">
                <input type="radio" name="term" value="-1" title="长期有效" lay-filter="term">
                <input type="radio" name="term" value="0" checked title="按照活动时间" lay-filter="term">
                <input type="radio" name="term" value="1" title="优惠领取之日后" lay-filter="term">
            </div>
        </div>
        <div class="layui-inline">
            <input type="text" name="days" class="layui-input" placeholder="天数" style="display:none;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内部活动</label>
        <div class="layui-input-block">
            <input type="checkbox" name="internalUse" lay-skin="switch">
        </div>
    </div>
    <!--Submit Button-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
            <button class="layui-btn layui-btn-danger" id="close">关闭</button>
        </div>
    </div>
</form>

@section Scripts{
    <environment include="Development">
        <script src="~/module/formSelects-v4/formSelects-v4.js" asp-append-version="true"></script>
        <script src="~/js/pay/activity/add.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/module/formSelects-v4/formSelects-v4.min.js" asp-append-version="true"></script>
        <script src="~/js/pay/activity/add.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
}
