@using YQTrack.Backend.Enums
@using YQTrack.Backend.Payment.Model.Enums
@using YQTrack.Core.Backend.Admin.Core
@using YQTrack.Core.Backend.Enums.Pay
@model IframeTransferData<Dictionary<long, string>>

@{
    Layout = "_Layout";
}

<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <select name="productId" lay-verify="required">
                @foreach (var (key, value) in Model.Data)
                {
                    <option value="@key">@value</option>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员类型</label>
        <div class="layui-input-block">
            <select name="memberLevel" lay-verify="required">
                @foreach (var (key, value) in EnumHelper.GetSelectItem<UserMemberLevel>())
                {
                    <option value="@key">@value</option>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Sku类型</label>
        <div class="layui-input-block">
            <select name="skuType" lay-verify="required">
                @foreach (var (key, value) in EnumHelper.GetSelectItem<SkuType>())
                {
                    <option value="@key">@value</option>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Sku编码</label>
        <div class="layui-input-block">
            <input type="text" name="code" required lay-verify="required" placeholder="请输入编码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Sku名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Sku描述</label>
        <div class="layui-input-block">
            <input type="text" name="desc" required lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内部使用</label>
        <div class="layui-input-block">
            <input type="checkbox" name="isInternalUse" lay-filter="isInternalUse" lay-skin="switch" lay-text="ON|OFF" value="false">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
            <button class="layui-btn layui-btn-danger" id="close">关闭</button>
        </div>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/pay/productSku/add.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pay/productSku/add.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
}
